body, h3, h4 {
    margin: 0;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header > .left {
    display: grid;
    grid-template-rows: 5rem 1fr;
    align-items: start;
}

input[type='search'] {
    width: 70%;
}

header > .right, 
.right > .btn {
    display: grid;
}

.right > .btn {
    grid-template-columns: repeat(auto-fit, 70px);
    grid-template-rows: 20px;
    gap: calc(10%);
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 6fr;
}

.home {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1.5rem);
    gap: 10px;
}

.settings {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1.5rem);
    gap: 10px;
}

main {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr 350px;
}

.project-list {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.project-list > .container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.announcements {
    display: grid;
    grid-template-rows: 40px 1fr;
}

.announcements > .container-content {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.trending > .container-content{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}