body, h3, h4 {
    margin: 0;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

header {
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

header > .left {
    display: grid;
    grid-template-rows: 5rem 1fr;
}

.left > div:first-child {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.left > div > svg {
    height: 30px;
}

input[type='search'] {
    width: 70%;
    height: 30px;
}

.left > div:last-child {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: 1fr;
}

.left > div > div {
    display: grid;
}

.left > div > img {
    height: 50px;
}

.right > div:first-child {
    display: grid;
    grid-template-columns: 50px 60px calc(100% - (50px + 60px));
}

.right > div > svg {
    height: 30px;
}

.right > div > img {
    height: 50px;
}

header > .right, 
.right > .btn {
    display: grid;
}

.right > .btn {
    grid-template-columns: repeat(auto-fit, 70px);
    grid-template-rows: 20px;
    gap: calc(10% - 15px);
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.sidebar > div:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sidebar > div > svg,
.home > div > svg,
.settings> div > div > svg {
    height: 30px;
}

.home {
    display: grid;
    grid-template-rows: repeat(6, 3rem);
    gap: 20px;
}

.home > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.settings > div {
    display: grid;
    grid-template-rows: repeat(3, 3rem);
    gap: 10px;
}

.settings > div > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1fr 350px;
}

.project-list {
    grid-row: span 2;
    display: grid;
    grid-template-rows: 40px 1fr;
}

.project-list > .container-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.widget > svg {
    height: 30px;
}

.announcements {
    display: grid;
    grid-template-rows: 40px 1fr;
}

.announcements > .container-content {
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.trending > .container-content{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.trending > .container-content > div {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    align-items: center;
    align-content: center;
}

.trending > .container-content > div > img {
    height: 50px;
    grid-row: span 2;
}